

html{
	margin: 10;
	padding: 0;
}

body, div, ul, ol, li, h1, h2, h3, h4, form, blockquote, input, table, th, tr, td, strong, p {
	margin: 0;
	padding: 0;

}



ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	-ms-interpolation-mode: bicubic;
	border: none;
}
a {
	outline: none;
}
ol li {
	font-size: 0.8em;
	margin-left: 20px;
}
ol {
	margin-bottom: 20px;
}



.last_found_address{
color:gray;
font-size:10px;
}

.item_title{
color:#333;
font-size:10px;
padding-top:5px;
}